.super-market {
  height: 100vh;
}

.super-market section {
  display: flex;
}

.super-market nav {
  display: flex;
}

.cart {
  border: 1px solid rgb(215, 215, 215);
  display: flex;
  flex-direction: column;
}

.display-products-section {
  padding: 0px 15px 0px 15px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  margin: 5px 10px 5px 0px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25); 
}

.product-card img {
  width: 160px;
  border-radius: 5px 5px 0px 0px;
}

.product-card section {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 5px 5px;
}

.product-card span{
  display: flex;
  align-items: center;
  background: white;
  padding: 5px 8px 5px 8px;
  justify-content: space-between;
  border-top: 1px solid rgb(230, 230, 230);
}

.product-card p {
  margin: 0;
}

.product-card button{
  margin: 0;
  padding: 5px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: #45C062;
  border: 1px solid #50ce6d;
  border-radius: 0px 0px 5px 5px;
}

#product-name {
  font-weight: 500;
  font-size: 14px;
}

#product-price {
  opacity: .5;
  font-size: 12px;
  font-weight: 400;
}

