.market-nav {
  display: flex;
}

.cart-container {
  border: 1px solid rgb(190, 190, 190);
}

.cart-content {
  display: flex;
  flex-direction: column;
}

.cart-ui {
  display: flex;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  margin: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid rgb(190, 190, 190);
}

.product-card img {
  width: 160px;
  border-radius: 8px 8px 0px 0px;
}

.product-card section {
  display: flex;
  flex-direction: column;
}

.product-card span{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.product-card p {
  margin: 0;
}

.product-card button{
  margin: 0;
  padding: 7px;
  border: none;
  color: white;
  background: #45C062;
  border-radius: 0px 0px 8px 8px;
}