html, body, #root, main  {
  margin: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0px 15px 0px 15px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.navigation-bar {
  padding: 18px 15px 18px 15px;
}

nav h1 {
  margin-right: auto;
  font-weight: 700;
}

#logo {
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
}

.navigation-bar a{
  text-decoration: none;
  margin-left: 24px;
  font-weight: 500;
  font-size: 12px;
  color: black;
}

#wallet {
  font-size: 12px;
  font-weight: 500;
  margin-left: 24px;
  border-radius: 100px;
  -webkit-appearance: none; 
  padding: 6px 14px 6px 14px;
  border: 1px solid #dbdbdb;
}


#splash-logo {
  margin: 0;
  color: white;
  font-weight: 900;
  font-size: 100px;
  font-style: normal;
  transform: translateY(-45%); 
  font-family: blenny, sans-serif;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.85);
}

.landing {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-image: url('../assets/reactville-background.png');
}