.burger-shop {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F5F8FC;
}

.burger-shop nav h1 {
  font-size: 1.17em;
}

li {
  height: 40px;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  color: white;
  list-style: none;
  font-weight: 600;
  border-radius: 8px;
  align-items: center;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-shadow: 0px 0px 2px #000000;
  border: 1px solid rgb(225, 225, 225);
}

li button {
  border: none;
  font-size: 13px;
  font-weight: 800;
  margin-left: auto;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 2px 6px 2px 6px;
}

.burger-shop nav button {
  appearance: none;
  margin-left: 10px;
  border-radius: 100px;
  -webkit-appearance: none;
  padding: 6px 18px 6px 18px;
  border: 1px solid #dbdbdb;
}

.burger-stack.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-shop section {
  display: flex;
  padding: 14px 8px 0px 8px;
}

.burger-shop section ul {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: #fbfcfd;
  margin: 0px 7px 0px 7px;
  border: 1px solid rgb(225, 225, 225);
  box-shadow: 0px 5px 5px -1px rgba(2, 15, 46, 0.18);

  display: flex;
  height: 720px;
  overflow: auto;
  flex-direction: column;
  box-sizing: border-box;
}

.burger-shop section ul > li:first-child {
  margin-top: auto !important;
}

@media screen and (max-width: 500px) { 
  .burger-shop section {
    flex-direction: column;
  }
  .burger-shop section ul {
    margin: 0 0 14px 0;
  }
}