.post-office {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f5f8fc;
}

.post-office form {
  display: flex;
  flex-direction: column;
}

.postoffice-layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.post-office nav h1 {
  font-size: 1.17em;
}

.post-office nav a {
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  border-radius: 100px;
  background: #fbfcfd;
  text-decoration: none;
  letter-spacing: .25px;
  color: rgb(45, 45, 45);
  padding: 6px 18px 6px 18px;
  border: 1px solid #dbdbdb;
}

.img-container { 
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E4F3FC;
}

.post-office img {
  width: 100%;
  height: auto;
  transform: translateY(-15%); 
}

.po-box-list {
  display: flex;
  flex-wrap: wrap;
}

.po-box {
  margin: 5px;
  width: 120px;
  height: 60px;
  display: flex;
  color: white;
  font-weight: 500;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  background-color: #375069;
  border: 1px solid rgb(212, 212, 212);
}

.post-office form {
  width: 50%;
}

.post-office form section {
  display: flex;
  width: initial;
  flex-direction: column;
  padding: 10px 15px 10px 15px;
}

.new-letter section h4 {
  margin: 0;
}

.new-letter header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid #dbdbdb;
}

.new-letter header h3 {
  margin: 0;
  margin-right: auto;
}


/* .new-box header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid #dbdbdb;
} */

/* .new-box header h3 {
  margin: 0;
  margin-right: auto;
} */

/* .new-box section {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 15px;
} */

/* .box-holders h4, p {
  margin: 0;
} */

/* .box-holders div {
  display: flex;
  align-items: center;
} */

/* .box-details header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid #dbdbdb;
} */

/* .box-details header h3 {
  margin: 0;
  margin-right: auto;
} */

/* table {
  margin: 5px;
  font-size: 14px;
  background: #efefef;
  border-collapse: collapse;
} */

/* tbody tr:nth-child(odd){
  background-color: #fbfbfb;
} */

/* table th {
  text-align: left;
  padding: 5px 10px 5px 10px;
  border: 1px solid #dedede;
  background-color: #ffffff;
}

table td {
  margin: 0;
  padding: 0;
  border: 1px solid #dedede;
  padding: 5px 10px 5px 10px;
}

#letter-date {
  font-size: 12px;
}

#letter-checkbox {
  text-align: center;
}

#letter-content {
  padding: 10px;
  border-bottom: 1px solid #dedede;
}


 */
